body {
    max-width: 1480px;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
    padding: 63px 100px 30px;;
}

.header-wrap{
    margin-bottom: 50px;
}
.logo{
    margin-bottom: 40px;
}
.logo a{
    text-decoration: none;
    color: black;
    font-weight: 400px;
    font-size: 80px;
    font-style: normal;
    text-align: center;
    line-height: normal;
}
.logo  a span{
    color: #4bcaff;
    font-weight: 400px;
    font-size: 80px;
    font-style: normal;
    text-align: center;
    line-height: normal;
}
.nav-list{
    display: flex;
    background-color: #35444f;
    justify-content: center;
}

.list-item{
    align-items: center;
    font-size: 24px;
    font-weight: 400;
    font-style: normal;
    line-height: normal;
    padding: 20px 30px 20px 30px;
    border-left: 1px solid #ffffff;
}
.list-item-border {
    border-right: 1px solid #ffffff;
}
.list-item a{
    color: #fff;
  text-decoration: none;
}
.list-item:hover {
    background-color: #222f3a;
}

.sidebar-menu{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 344px;
    border: 1px solid #000;
}
.sidebar-item{
    display: block;
    color: #485863;
    font-size: 27px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px;
    padding: 27px;
}
.sidebar-item:hover{
    padding-left: 39px;
    background-color: #DBDBDB;
    color:#000;
}
.main-content{
    display: flex;
    flex-direction: column;
    justify-content: end;
    width: 885px;
    
}

.pic {
    overflow: hidden;
    padding: 75px 265px 73px 297px;
    border: 1px solid #000;
    display:block;
    max-width: 885px;
    margin-bottom: 37px;
    transition: transform 0.25s;
    cursor: pointer;
}
.pic:hover img {
    transform: scale(1.1);
    border: none;
  }
.flex-position{
    display: flex;
    justify-content: start;
    gap: 50px;
  }

  main p{
    color: #2C2C2C;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 40px;
  }
  .text{
    margin-top: 13px;
    
  }

  .footer-container{
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;
    background-color: #63696E7A;
  }

  .footer-menu{
    display: flex;
    width: 875px;
    justify-content: space-between;
  }
  .footer-item{
    color: #0C1927;
    font-weight: 400;
    font-size: 28px;
    line-height: 28px;
    font-style: normal;

  }

  .footer-item:hover{
    color: #3181A6;
    border-bottom: 1px solid #3181A6 ;
  }
  .rights{
    color: #000;
    font-size: 24px;
    font-weight: 400;
    line-height: 24px;
    font-style: normal;
  }





    
 
    
    
    
    
   

