
body {
  margin: 0;
  padding: 0;
  font-family: 'montserrat', sans-serif;
  
 }

.navbar {
  padding: 31.5px;
  text-align: center;
  font-size: 18px;
  letter-spacing: 2.7px;
}

.menu{
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.menu li{
 display: inline;
 margin: 65.5px;
}

.menu a {
  text-decoration: none;
  color: red;
  font-weight: bold;
  text-transform: uppercase;
}

.image-container{
  width: 100%;
}
.image-container img{
  width: 100%;
  height: auto;
}

.text-container{
  color: #373737;
  text-align: center;
}

.title{
  margin-top: 48px;
  text-transform: uppercase;
  font-size: 22px;
  letter-spacing: 3.3px;
  }


  .text-item{
    margin-top: 55px;
    margin-left: 67.5px;
    margin-right: 67.5px;
    font-size: 16px;
    letter-spacing: 2.4px;
  }

  .btn{
   width: 191px;
   height: 51px;
   background-color: #FF0000; 
   font-size:12px ;
   letter-spacing: 2px;
   text-transform: uppercase;
   margin: 0  auto;
   margin-top:55px;
   margin-bottom: 65px;
   cursor: pointer;
   color: #FFFFFF; 
   border: none; 
   border-radius: 4px; 
   padding: 10px 20px;
   letter-spacing: 1.8px;   
  }
 
  .footer-container{
   margin-left: 105px;
   margin-right: 105px;
   margin-bottom: 30px;
  }

  .footer-text{
    
    text-align: right;
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 2.4px;
    
  }


    
    
  
        
 