:root {
    --color1: #FFF;
    --color2: #171717;
    --color3: #0E0E0E;
    --color4: #0A0909;
    --color5: #242424;
    --color6: #1F1F1F;
    --color7: #634F2C;
    --color8: #B4A385;
    --color9: #E4B564;
    --color10: #635A4A;
    --color11: #B08C4D;
    --color12: rgba(232, 210, 171, 0.76);
}
body{
    background-color: #171717;
}
.container {

    display: block;
    justify-content: center;
    max-width: 1920px;      
    margin-left: 230px;
    margin-right: 230px;
    
}
.header {
    display: flex;
    justify-content: space-between;
    margin-top: 37px;
}
.logo {
    margin-bottom: 89px;
}

.header-button {
    display: flex;
    border: 1px solid var(--color9);
    background-color: inherit;
    width: 218px;
    height: 50px;
    justify-content: flex-end;
    align-items: center;
    padding-right: 11px;
}
.call-button {
    display: block;
    text-decoration: none;
    justify-content: flex-start;
    align-items: end;
}

.button-text{
    color: var(--color9);
    font-family: Ballet;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}
h2, p {
    color: var(--color1);
    font-family: Gilam;
    font-weight: 700;
    line-height: 28px;    
}
.services-grid-title {
    margin-bottom: 43px;
}
h2 {
    font-size: 50px;
}
.services-grid-text {
    width: 1428px;
    font-size: 20px;
    margin-bottom: 41px;
}
.services-grid-list {
    display: grid;
    grid-template-rows:repeat(2,468px) ;
    grid-template-columns:repeat(6,243px);
    row-gap: 27px;
    column-gap: 29.5px;
    color: var(--color1);
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    text-align: center;
    margin-bottom: 161px;
     
}
.services-grid-item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 51px;
   
}
.services-grid-item:nth-child(1) {
    background-color: var(--color7);
    grid-area: 1/1/1/3;
   
}
.services-grid-item:nth-child(2) {
    background-color: var(--color8);
    grid-area: 1/3/1/5;
    
}
.services-grid-item:nth-child(3) {
    background-color: var(--color9);
    grid-area: 1/5/1/7;
    
}
.services-grid-item:nth-child(4) {
    background-color: var(--color10);
    grid-area: 2/1/2/4;
   
}
.services-grid-item:nth-child(5) {
    background-color: var(--color11);
    grid-area: 2/4/2/7;
    
}
.construction-equipment-title {
    margin-bottom: 94px;
}
.construction-equipment-list {
    display: grid;
    grid-template-rows: 255px 26px 32px 24px 102px 33px 122px 26px 257px 20px;
    grid-template-columns: repeat(3, 467px);
    column-gap: 29.5px;
    margin-bottom: 191.19px;
    color: #FFF;
    font-family: Gilam;
    font-size: 20px;
}
.construction-equipment-item {
    display: flex;
    flex-direction: column;
    padding-top: 44px;
 
}
.construction-equipment-item:nth-child(1), .construction-equipment-item:nth-child(2), .construction-equipment-item:nth-child(5), .construction-equipment-item:nth-child(6) {
    padding-left: 51px;
}
.construction-equipment-item:nth-child(3), .construction-equipment-item:nth-child(4), .construction-equipment-item:nth-child(7) {
    padding-left: 48px;
}
.construction-equipment-item:nth-child(1), .construction-equipment-item:nth-child(2) {
    font-weight: 400;
}
.construction-equipment-item:nth-child(3), .construction-equipment-item:nth-child(4), .construction-equipment-item:nth-child(5) {
    font-weight: 500;
}
.equipment-item-info {
    display: block;
}
.construction-equipment-item:nth-child(6) {
    color: #000;
    font-weight: 500;
    padding-top: 47px;
}
.construction-equipment-item:nth-child(6) {
    background-color: var(--color3);
    grid-row-start: 1;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 2;
}
.construction-equipment-item:nth-child(2) {
    background-color: var(--color5);
    grid-row-start: 1;
    grid-row-end: 6;
    grid-column-start: 2;
    grid-column-end: 3;
}    
.construction-equipment-item:nth-child(3) {
    background-color: var(--color6);
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 3;
    grid-column-end: 4;
}    
.construction-equipment-item:nth-child(4) {
    background-color: var(--color3);
    grid-row-start: 3;
    grid-row-end: 8;
    grid-column-start: 3;
    grid-column-end: 4;
}
.construction-equipment-item:nth-child(5){
    background-color: var(--color6);
    grid-row-start: 5;
    grid-row-end: 11;
    grid-column-start: 1;
    grid-column-end: 2;
    padding-top: 56px;
}
.construction-equipment-item:nth-child(6) {
    background-color: var(--color9);
    grid-row-start: 7;
    grid-row-end: 11;
    grid-column-start: 2;
    grid-column-end: 3;
}
.construction-equipment-item:nth-child(7) {
    background-color: var(--color4);
    grid-row-start: 9;
    grid-row-end: 11;
    grid-column-start: 3;
    grid-column-end: 4;
    font-weight: 700;
}
.ccustomers-projects-block {
    background-color: var(--color3);
    padding-top: 172px;
    margin-bottom: 238.81px;
}
.customers-projects-header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 72px;
}
.projets-list-button {
    border: 1px solid var(--color9);
    background-color:#171717;
    align-items: end;
    
}
.customer-projects-link {
    text-decoration: none;
    display: block;
    width: 100%;     
}
.customer-projects-span {
    color: var(--color9);
    font-family: Ballet;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px; 
}
.customer-projects-list {
    display: grid;
    grid-template-rows: repeat(2, 391px);
    grid-template-columns: 487px 486px 487px;
}
.customers-projects-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-left: 80px;
    padding-right: 80px;
   
}
.customers-projects-item p {
    color: var(--color1);
    font-family: Gilam;
    font-size: 22px;
    font-weight: 500;
    line-height: 28px; 
}

.customers-projects-item:nth-child(1), .customers-projects-item:nth-child(6) {
    background-color: var(--color7);
}
.customers-projects-item:nth-child(2) {
    background-color: var(--color12);
}
.customers-projects-item:nth-child(3) {
    background-color: var(--color9);
}
.customers-projects-item:nth-child(4) {
    background-color: var(--color10);
    
}
.customers-projects-item:nth-child(5) {
    background-color: var(--color11);
}
